body
{
  background: #F4F5FA;
  font-family: 'Muli', sans-serif;
  color: rgb(107, 111, 128)
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Comfortaa', cursive;
}

h1
{
  font-size: 2rem;
  margin: 50px;
}

.card
{
  margin: 20px;
}

pre
{
  tab-size: 2;
}

pre reserved
{
  color: lightskyblue;
}

pre var
{
  color: orange;
}

pre prop
{
  color: lawngreen;
}

pre coord
{
  color: rgb(253, 75, 75);
}

pre string
{
  color: rgb(236, 224, 91);
}

pre bool
{
  color: rgb(168, 74, 231)
}

pre com
{
  color: gray;
}