body
{
  background: #F4F5FA;
  font-family: 'Muli', sans-serif;
  color: rgb(107, 111, 128)
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Comfortaa', cursive;
}

h1
{
  font-size: 2rem;
  margin: 50px;
}

.card
{
  margin: 20px;
}